.chnl-form-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chnl-messages-cont {
    flex-direction: column;
    padding: 20px;
    /* margin-left: 20em;
    margin-right: 20em; */
}

#all-msgs p {
    max-width: 300px;
    width: max-content;
    font-size: 1em;
    color: white;
}