@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-10deg)
  }
  6% {
    transform: rotate(-9deg)
  }
  7% {
    transform: rotate(-8deg)
  }
  8% {
    transform: rotate(-7deg)
  }
  9% {
    transform: rotate(-6deg)
  }
  10% {
    transform: rotate(-5deg)
  }
  15% {
    transform: rotate(10deg);
  }
  16% {
    transform: rotate(11deg);
  }
  17% {
    transform: rotate(12deg);
  }
  18% {
    transform: rotate(13deg);
  }
  19% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 1.1em;
  gap: 1em;
}

.loading p {
    width: 20em;
    text-align: center;

}

#discord-svg {
    animation: spin 2s linear infinite;
}
