 .svr-channel-wrapper {
     display: flex;
     flex-direction: column;
     background-color: #2b2d31;
     width: 320px;
     justify-content: space-between;
     box-sizing: border-box;
     height: 100vh;
 }

 .members-wrapper {
     display: flex;
     gap: 2em;
 }

 #member-info img {
     width: 1.5em;
     height: 1.5em;
 }

 #root {
     display: flex;
     flex-direction: row;
 }

 #chnl-create button {
     height: 2em;
     color: red;
 }

 .chnl-container-item {
     display: flex;
     align-items: center;
     color: white;
 }

 .chnl-form-content form {
     position: fixed;
     bottom: 0;
 }

 .chnl-name {
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }

 .friends-column {
     background-color: #2b2d31;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 320px;
     height: 100vh;
 }

 .single-svr-chnl-delete-btn,
 .single-svr-chnl-edit-btn {
     display: block;
     border-radius: 5px;
     padding: 0 1px;
 }

 .user-info {
     height: 45px;
     display: flex;
     flex-direction: row;
     align-items: center;
     box-sizing: border-box;
     width: 100%;
 }

 .user-info-nav {
     background-color: #232428;
     display: flex;
     justify-content: space-between;
     box-sizing: border-box;
     width: 100%;
     height: 65px;
     margin: 0;
     padding: 10px 15px;
 }

 .user-info-nav>p {
     display: flex;
     align-items: center;
     color: var(--primary-gray);
 }

 #user-info-pfp {
     width: 40px;
     height: 30px;
     margin-right: 15px;
 }

 #user-info-pfp img {
     width: 100%;
     height: 100%;
 }

 #user-username {
     display: flex;
     flex-direction: column;
     gap: .33em;
 }

 #user-username h4 {
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     line-height: 18px;
     font-weight: 600;
     color: #fff;
 }

 #user-username p {
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     line-height: 13px;
     color: var(--primary-gray);
     font-size: 12px;
 }

 .user-info-server {
     display: flex;
     flex-direction: column-reverse;
 }

 .add-channel-display-none {
     background-color: inherit;
     border: none;
 }


 .edit-channel {
     display: flex;
     flex-direction: row;

 }

 #sect-1 {
     align-items: start;
     background-color: #2b2b2d;
     display: flex;
     flex-direction: column;
     height: 100vh;
     width: 25vw;
     padding: 50px 10px 50px 100px;
 }

 #sect-2 {
     display: flex;
     flex-direction: column;
     width: 60vw;
     padding: 50px 0px 50px 50px;
     color: #cacaca;
 }

 #channel-overview-details {
     display: flex;
     flex-direction: column;
     gap: .5em;
     color: #cacaca;
     width: 100%;
 }

 #channel-overview-details p {
     display: flex;
     justify-content: flex-start;
     padding: 0em 1em;
     font-weight: 700;
     text-transform: uppercase;
     letter-spacing: .02em;
     font-size: 12px;
     width: 12.5em;
 }

 #overview-cont {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;

 }

 #overview-details {
     height: 2em;
     width: 9em;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     border-radius: 5px;
     padding: 0em 1em;
     cursor: pointer;
     font-weight: 500;
     font-size: 16px;
     line-height: 20px;
 }

 #overview-details:hover {
     transition-duration: .22s;
     background-color: #414146;
 }

 #active-overview {
     color: #fff;
     background-color: #414146;
     height: 2em;
     width: 9em;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     border-radius: 5px;
     padding: 0em 1em;
     cursor: pointer;
     font-weight: 500;
     font-size: 16px;
     line-height: 20px;
     cursor: pointer;
 }

 .edit-overview {
     display: flex;
     flex-direction: column;
 }

 .edit-overview form {
     display: flex;
     flex-direction: column;
     width: 30vw;
     margin-top: 3em;
     gap: 1em;
 }

 .edit-overview input {
     height: 2em;
     background-color: #1e1f22;
     border: none;
     border-radius: 5px;
     color: #f5f5f5;
     padding: 12px;
     margin-bottom: 1em;
 }

 .edit-overview label {
     font-weight: 700;
     text-transform: uppercase;
     letter-spacing: .02em;
     font-size: 12px;
 }

 #overview-close {
     display: flex;
     flex-direction: row;
     align-items: center;
     width: 30vw;
     justify-content: space-between;
 }

 #overview-close h2 {
     display: flex;
     align-items: center;
     color: #fff;
     line-height: 24px;
     font-weight: 600;
     font-size: 20px;
 }

 #save-changes {
     margin-top: 2em;
     width: 25vw;
     height: 3em;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     color: #fff;
 }

 #save-changes div {
     width: 33%;
     background-color: #1ab663;
     border-radius: 5px;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
 }

 #save-changes div:hover {
     transition-duration: .22s;
     background-color: #259655;
 }

 #leave {
     cursor: pointer;
 }

 #leave:hover {
     color: #fff
 }

 #channel-topic {
     padding-top: 2em;
     border-top: thin solid #3f4147;
 }
