.svr-channel-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.members-wrapper {
    display: flex;
    gap: 2em;
}
#member-info img{
    width: 1.5em;
    height: 1.5em;
}

#root {
display:flex;
flex-direction: row;
}
