.svr-channel-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: #2b2d31;
    width: 15em;
}

.members-wrapper {
    display: flex;
    gap: 2em;
}
#member-info img{
    width: 1.5em;
    height: 1.5em;
}

#root {
display:flex;
flex-direction: row;
}

#chnl-create button{
    height: 2em;
    color: red;
}

.chnl-container {
    display: flex;
    flex-direction: column;
}
.friends-column {
    background-color: #2b2d31;
}
