.svr-friends-list {
    font-size: 12pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #2b2d31;

}

.drt-usr-msg-box {
    display: flex;
    align-items: center;
    width: 90%;
    height: 30px;
    font-family: sans-serif;
    padding: 0 6px;
    font-size: 10pt;
    font-weight: 600;
    color: white;
    gap: 15px;
    background-color: #2b2d31;
    margin: 2px;
    border-radius: 5px;
    width: 16.9em;
}

.drt-usr-msg-box:hover {
    background-color: #666;
}

.drt-msg-light-color {
    background-color: #2b2d31;

}

.drt-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #2b2d31;
}

.drt-msg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-color: burlywood;
}

.usr-box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: sans-serif;
    font-size: 12pt;
    font-weight: 400;
    font-size: 14pt;
    padding: .20rem .55rem;
    color: white;
    background-color: #222;
}

#usr-img img {
    height: 1em;
    border-radius: 2em;
}

#usr-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 12pt;
    font-weight: 600;
}
