:root {
  --text-color: #B5BAC1
}

#signup {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 650px;
  align-items: center;
  background-color: #313338;
  border-radius: .25rem;
  justify-content: center;
  box-shadow: -2px 2px 10px -3px black;

}


#signup__title {
  font-weight: 400;
  font-size: 16pt;
  color: white;
  margin-bottom: 10px;
}

#signup__form {
  display: flex;
  flex-direction: column;
  width: 440px;
  align-self: center;
  align-items: center;
  box-sizing: border-box;
  height: 480px;
  justify-content: space-around;
}

#signup__error-list {
  list-style: none;
  font-size: 10pt;
  align-content: left;
  width: 440px;
  height: 100px;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  line-height: 18px;
  color: rgb(194, 194, 194);
  margin-top: 5px;
}

#signup__label {
  align-self: start;
  margin-top: 0;
  height: 12px;
  font-size: 8pt;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--text-color);

}

.signup__input {
  box-sizing: border-box;
  height: 36px;
  width: 100%;
  color: var(--text-color);
  background-color: rgb(26, 32, 51);
  border-radius: 0.25rem;
  outline: none;
  padding: 0;
  font-size: 13pt;
  border: none;
}

.signup-form-link {
  all: unset;
  display: flex;
  align-self: flex-start;
  margin-left: 30px;
  color: rgb(14, 171, 192);
  margin-top: 6px;
  font-size: 10px;
  transition: 0.3s;
}

.signup-form-link:hover {
  color: rgb(67, 67, 187);
  cursor: pointer;
  transition: 0.3s;
}
