/* .member-info {
    display: flex;
    flex-direction: row;
}

.members-cont {
    right: 0em;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 12em;
    background-color: #2b2d31;
    height: 100%;
    align-items: flex-start;
    padding: 2em;
}

.members-wrapper-box {

}

#members-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2em;
    margin-top: 1em;
    text-align: center;
}

#members-info p {
    text-align: center;
    color:#ffffff;
}


#mbr-image img {
    width: 1.5em;
    height: 1.5em;
    border-radius: 10px;
    margin-right: .5em;
}

#status {
    color: #ffffff;
    font-weight: bold;
}

#accept-button {
    border-radius: 5px;
    font-weight: bold;
    margin-left: 1em;
    height: 2em;
} */

.member-info {
    display: flex;
    flex-direction: row;
}

/* .chnl-messages-cont {
    position:relative;
    background-color: #333;
    color: white;
} */

.members-cont {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    background-color: #2b2d31;
    align-items: flex-start;
    padding: 40px 20px;
    box-sizing: border-box;
}

#members-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1em;
    text-align: center;
    align-items: center;
    margin-bottom: 1em;
    cursor: pointer;
}

#members-info:hover {
    border-radius: 8px;
    background-color: #414146;
}

#members-info p {
    text-align: center;
    color: #ffffff;
}

#members-info button {
    width: 10em;
    background-color: #259655;
    color: #ffffff;
    font-weight: 500
}

#mbr-image img {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

#status {
    color: var(--primary-gray);
    font-weight: 500;
    font-size: 12pt;

}

#accept-button {
    border-radius: 5px;
    font-weight: bold;
    margin-left: 1em;
    height: 2em;
}
